<link href="~/datatable/datatables.min.css" rel="stylesheet" />
<link href="~/datatable/bootstrap-5-5.1.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/datatable/datatables-1.13.1/css/datatables.bootstrap5.min.css" rel="stylesheet" />
<script src="~/datatable/datatables.min.js"></script>
<script src="~/datatable/bootstrap-5-5.1.3/js/bootstrap.bundle.min.js"></script>
<script src="~/datatable/datatables-1.13.1/js/datatables.bootstrap5.min.js"></script>
<style>
    .listtable {
        font-size: 0.700rem;
        border: 1px !important;
        border-width: 2px 0 0 0 !important;
        border-color: #e3e3e3 !important;
    }

    table.dataTable {
        font-size: 0.700rem;
    }

    .truncate {
        max-width: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dataTables_wrapper {
        font-size: 0.700rem !important;
    }

    .tooltip1 {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

        .tooltip1 .tooltiptext1 {
            visibility: hidden;
            min-width: 300px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 0.3s;
        }

            .tooltip1 .tooltiptext1::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        .tooltip1:hover .tooltiptext1 {
            visibility: visible;
            opacity: 1;
        }
</style>
@{
}
<div class="container container-fluid">
    <div class="row">
        <div class="col">
            <div class="card-header">Kişiler</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col w-100">
                    
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table id="tblPersonList" class="table table-striped listtable">
                        <tr>
                            <th></th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Firma</th>
                            <th>İletişim Bilgisi</th>
                            <th>İşlem</th>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 1 -->
<div class="modal fade" id="mdlPersonDetail" tabindex="-1" aria-labelledby="mdlPersonDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlPersonDetailLabel">Kişi Detay</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    @Html.Hidden("UUID")
                    <div class="form-floating mb-2">
                        <input type="text" id="Name" class="form-control form-control-sm" placeholder="Adı">
                        <label for="floatingInput">Adı</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" id="Surname" class="form-control form-control-sm" placeholder="Soyadı">
                        <label for="floatingInput">Soyadı</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" id="CompanyName" class="form-control form-control-sm" placeholder="Firma Adı">
                        <label for="floatingInput">Firma Adı</label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table id="tblContactInfoView" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Telefon No</th>
                                        <th>E-Posta</th>
                                        <th>Lokasyon</th>                                        
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sml" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary btn-sml"><i class="fa fa-save"></i> Kaydet</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal 2 -->
<div class="modal fade" id="mdlContactInfo" tabindex="-1" aria-labelledby="mdlProductDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlProductDetailLabel">Kişi İletişim Bilgisi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            Adı
                        </div>                        
                        <div class="col">
                            Soyadı
                        </div>                        
                        <div class="col">
                            Firma Adı
                        </div>                        
                    </div>
                    <div class="row">                        
                        <div class="col">
                            <span class="fw-bold" id="spnName"></span>
                        </div>                        
                        <div class="col">
                            <span class="fw-bold" id="spnSurname"></span>
                        </div>                        
                        <div class="col">
                            <span class="fw-bold" id="spnCompanyName"></span>
                        </div>
                    </div>
                    
                    @Html.Hidden("ContactUUID")
                    <div class="form-floating mb-2">
                        <input type="tel" id="PhoneNumber" class="form-control form-control-sm" placeholder="Telefon No">
                        <label for="floatingInput">Telefon No</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="email" id="Email" class="form-control form-control-sm" placeholder="E-Posta">
                        <label for="floatingInput">E-Posta</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" id="Location" class="form-control form-control-sm" placeholder="Lokasyon">
                        <label for="floatingInput">Lokasyon</label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table id="tblContactInfoEdit" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Telefon No</th>
                                        <th>E-Posta</th>
                                        <th>Lokasyon</th>
                                        <th>İşlem</th>
                                    </tr>
                                </thead>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sml" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary btn-sml"><i class="fa fa-save"></i> Kaydet</button>
            </div>
        </div>
    </div>
</div>

<script>
    var tblPersonList = $('#tblPersonList').DataTable({
        select: true,        
        paging: true,
        ordering: true,        
        columnDefs: [{ targets: [1, 2], className: "truncate" }],
        fnCreatedRow: function (nRow, aData, iDataIndex) {
            $(nRow).attr('id', aData["UUID"]);
            $(nRow).find(".truncate").each(function () {
                $(this).attr("title", this.innerText);
            });
        },
        language: {
            url: "/datatable/i18n/tr.json"
        },        
        order: [[2, "desc"]],

        ajax: {
            url: "/Person/PersonDtoData",
            method: "POST",
            data: {}
        },
        columns: [
            { data: 'UUID', title: "Kayıt No", orderable: false, visible: false, name: 'UUID' },
            { data: 'Name', title: "Adı", name: 'Name', width: "20%" },
            { data: 'Surname', title: "Soyadı", name: 'Surname', width: "20%" },
            { data: 'CompanyName', title: "Firma", name: 'CompanyName', width: "20%" },
            {
                data: 'ContactInfos',
                title: "İletişim Bilgileri",
                name: 'ContactInfos',
                width: "15%",
                render: function (data, type, row, meta) {
                    var rowValue = '';
                    if (data != null && data != undefined && data != '') {
                        rowValue = data;
                    }
                    let titleHtml = `<div class='tooltiptext1'><div class='row bold'><div class='col'>Telefon No</div><div class='col'>E-Posta</div><div class='col'>Lokasyon</div></div>`;
                    $.each(rowValue, function (idx, val) {
                        titleHtml += `<div class='row'><div class='col'>` + val.PhoneNumber + `</div><div class='col'>` + val.Email + `</div><div class='col'>` + val.Location + `</div></div>`;
                    });
                    titleHtml += '</div>';
                    htmlStr = `<div class="tooltip1" >` + rowValue.length + ` iletişim bilgisi mevcut.` + titleHtml + `</div>`;

                    return htmlStr;
                }
            },
            {
                data: "UUID",
                title: "İşlem",
                name: "UUID",
                width:"25%",
                render: function (data, type, row, meta) {
                    var rowValue = '';
                    if (data != null && data != undefined && data != '') {
                        rowValue = data;
                    }

                    if (rowValue)
                        htmlStr = `<div class="btn-group btn-group-sm" role="group" aria-label="tblAccessButtons">
                            <button class='btn btn-sm btn-outline-info btnAddContact' type='button' id='btnAddContact_` + rowValue + `' data-id='` + rowValue + `' ><i class='fa fa-address-book '></i> İletişim Bilgisi Düzenle</button>
                                        <button class='btn btn-sm btn-outline-warning btnDetail' type='button' id='btnDetail_` + rowValue + `' data-id="` + rowValue + `"><i class='fa fa-search'></i> Düzenle</button>
                                        <button class='btn btn-sm btn-outline-danger btnDelete' type='button' id='btnDelete_` + rowValue + `' data-id='` + rowValue + `' ><i class='fa fa-trash'></i> Sil</button>                                                
                                        </div>`;

                    return htmlStr;
                }

            },
        ],
        "initComplete": function (oSettings) {
            $('#tblPersonList_filter').append(`<button class="btn btn-sm btn-outline-success m-1 align-self-end " id="btnAddPerson"><i class="fa fa-plus"></i> Ekle</button>`);
        }

    });
    
    $('#tblPersonList').delegate('.btnDetail', 'click', function () {        
        var recordId = $(this).data('id');
        var tableData = tblPersonList.rows().data();
        var selectedRow = $.grep(tableData, function (e) { return e.UUID == recordId });
        $('#UUID').val(recordId);
        $('#Name').val(selectedRow[0].Name);
        $('#Surname').val(selectedRow[0].Surname);
        $('#CompanyName').val(selectedRow[0].CompanyName);
        RefreshDataTable('#tblContactInfoView', selectedRow[0].ContactInfos);
        $('#mdlPersonDetail').modal('show');
    });

    $('.container').delegate('#btnAddPerson','click',function(){        
        $('#UUID').val('');
        $('#Name').val('');
        $('#Surname').val('');
        $('#CompanyName').val('');
        $('#mdlPersonDetail').modal('show');
    });

    var contactInfoView = $('#tblContactInfoView').DataTable({
        select: true,
        paging: false,
        ordering: true,
        order: [[0, "desc"]],
        searching: false,
        columns: [
            { data: 'PhoneNumber', title: "Telefon No", name: 'PhoneNumber' },
            { data: 'Email', title: "E-Posta", name: 'Email' },
            { data: 'Location', title: "Lokasyon", name: 'Location' }            
        ]
    });
        
    var contactTable = $('#tblContactInfoEdit').DataTable({
            select: true,
            paging: false,
            ordering: true,
            order: [[0, "desc"]],
            searching: false,
            columns: [                
                { data: 'PhoneNumber', title: "Telefon No", name: 'PhoneNumber'},
                { data: 'Email', title: "E-Posta", name: 'Email'},
                { data: 'Location', title: "Lokasyon", name: 'Location'},
                {
                    data: "PhoneNumber",
                    title: "İşlem",
                name: "PhoneNumber",
                render: function (data, type, row, meta) {
                        var rowValue = '';
                        if (data != null && data != undefined && data != '') {
                            rowValue = data;
                        }

                        if (rowValue)
                        htmlStr = `<button class='btn btn-sm btn-outline-warning btnEditContact' type='button' id='btnEditContact_` + rowValue + `' data-id='` + rowValue + `' data-phonenumber='` + row.PhoneNumber + `' data-email='` + row.Email + `' data-location='` + row.Location + `'><i class='fa fa-address-book '></i>Seç</button>`;

                        return htmlStr;
                    }
                }
            ]
        });
    

    $('#tblPersonList').delegate('.btnAddContact', 'click', function () {
        
        var recordId = $(this).data('id');
        var tableData = tblPersonList.rows().data();
        var selectedRow = $.grep(tableData, function (e) { return e.UUID == recordId });
        $('#PhoneNumber').val('');
        $('#Email').val('');
        $('#Location').val('');
        $('#ContactUUID').val(recordId);
        $('#spnName').empty().append(selectedRow[0].Name);
        $('#spnSurname').empty().append(selectedRow[0].Surname);
        $('#spnCompanyName').empty().append(selectedRow[0].CompanyName);
        RefreshDataTable('#tblContactInfoEdit',selectedRow[0].ContactInfos);
        $('#mdlContactInfo').modal('show');
    });

    $('#tblContactInfoEdit').delegate('.btnEditContact', 'click', function () {                
        $('#PhoneNumber').val($(this).data('phonenumber'));
        $('#Email').val($(this).data('email'));
        $('#Location').val($(this).data('location'));        
    });
    
    function RefreshDataTable(tableId, newData) {
        var dt = $(tableId).dataTable();
        oSettings = dt.fnSettings();
        dt.fnClearTable(this);

        for (var i = 0; i < newData.length; i++) {
            dt.oApi._fnAddData(oSettings, newData[i]);
        }

        oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
        dt.fnDraw();        
        return true;
    }
</script>